extends layout.pug

block append scripts

block content

  .content
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Collections</a></li>
        <li class="breadcrumb-item active" aria-current="page">#{json.name}</li>
      </ol>
    </nav>

    h2 Links
    each link in json.links
      p #{link.rel} = 
        a(href= link.href)  #{link.title} 
        | (#{link.type})
    h2 #{json.type}

    <table class="table table-striped table-hover" id="Extension1">
    <thead>
      <tr>
          <th>Filename</th>
          <th>Date</th>
          <th>Size</th>
      </tr>
    </thead>
    <tbody>


      each file in json.files
        <tr><td>#{file.fname}</td><td>#{file.atime}</td><td>#{file.fsize}</td></tr>
    </tbody>
    </table>



